#mobileMenu {
	width: 280px;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: #e7e7e7;
	
	z-index: 10;

	h1 {
		width: 100%;

		img {
			width: 280px;
			margin-bottom: 50px;
		}
	}

	ul li a {
		padding: 20px 50px ;		

		display: block;
		height: 50px;
		font: 16px/50px 'open sans';
		color: #555;
		&:hover{
			color: orange;
		}
	}
}
