.scroll_navi {
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
	right: 50px;
	z-index: 3;

	li {
		width: 13px;
		height: 13px;
		border: 1px solid rgb(37, 61, 52);
		
		background: #fff;
		margin: 20px;
		cursor: pointer;
		transition: 0.5s;
		&.on {
			
			height: 45px;
			background: rgb(11, 56, 24);
			border: #fff;
		}
	}
}

@media screen and (max-width: $tablet){
	.scroll_navi{
		display: none;
	}
}