#pics {
	width: 100%;
	//background: linear-gradient(45deg, #000, #fff);
	//background: linear-gradient(45deg, #66817d, #fff);
	background-color: #ddd;
	position: relative;
	padding: 10vw;
	overflow: hidden;
	display: flex;
	align-content: center;
	flex-wrap: wrap;

	p {
		font: bold 150px/1 'open sans';
		color: rgba(0, 0, 0, 0.3);
		position: absolute;
		top: 50px;
	}
	
	h3 {
		font: bold 130px/1 'open sans';
		letter-spacing: 0.5px;
		color: #fff;
		position: absolute;
		top: 5%;
		text-shadow: 40px 40px 50px rgba(0, 0, 0, 0.7);
		z-index:3;
		
	}
	ul {
		width: 100%;
		margin-top: 100px;
		display: flex;
		flex-wrap: wrap;		
		gap: 10px;
		justify-content: space-around;
		

		li{
			padding: 15px;			
			background-color: #fff;
			position: relative;	
			padding-bottom: 50px;
			box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
			transform: rotate(0deg);transition: 0.7s;
			&:hover{
				transform: translateX(0px) rotate(15deg);
			}
			

			img{							
				width: 250px;
				height: 320px;
				cursor: pointer;
				//&:hover{}			
			}
				
			// h4{
			// 	padding-top: 220px;
			// 	color:#000;
			// 	font: 22px "Merriweather";				
			// 	padding-top: 40px;
				
			// 	&::before{
			// 		content: '';
			// 		display: block;
			// 		width: 40%;
			// 		height: 1px;
			// 		background-color: #333;
			// 		margin-bottom: 50px;
			// 	}
				
				
			// }
			// p{ 
			// 	padding-top: 30px;
			// 	font: 18px "Merriweathers";
			// 	text-align: end; 

			// 	&::before{
			// 		content: '';
			// 		display: block;
			// 		width: 70%;
			// 		height: 1px;
			// 		background-color: #333;
			// 		margin-bottom: 20px;
			// 	}
			// }			
		}		
	}
	
}

@media screen and (max-width: 760px) {
	#pics{
		height: 100%;
		p {
			font-size: 120px;
		  }
		h3{
			font-size: 120px;
			
			
		}
		ul{
			height: 100%;
			margin-top: 10%
      
}}}	

@media screen and (max-width: 730px) {
	#pics {
		height: 100%;
	  p {
		display: none;
	  }
	  h3 {
		font-size: 100px;
		position: flex;
		margin-top: -80px;
	  }
	}
  }