
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Vai&display=swap'); //Noto Sans Vai
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap');;//Open Sans
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400&display=swap');//work sans
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
//Nanum Myeongjo

$web_note: 1569px;
$tablet: 1179px;
$mobile: 539px;

//반응형을 최대한 세세하게 디바이스에 맞춰서 5개이상은 구현을 하셔야한다

//common
@import 'common/reset';
@import 'common/footer';
@import 'common/layout';
@import 'common/header';
@import 'common/popup';
@import 'common/menu';

//main
@import 'main/news';
@import 'main/pics';
@import 'main/vids';
@import 'main/visual';
@import 'main/btns';
@import 'main/intro';
@import 'main/ban';
@import 'main/pro';

//sub
@import 'sub/about';
@import 'sub/community';
@import 'sub/gallery';
@import 'sub/youtube';
@import 'sub/location';
@import 'sub/member';

